.Action {
  width: 78px;
  height: 78px;
  z-index: 500;
  border-radius: 68px;

  margin-top: 0;
  display: block;
  transition: 0.2s ease;
}

.Action + .Action {
  margin-top: 20px;
}

.Action.used {
  opacity: 0.2;
}

.Action.active {
  transform: translateX(5px);
  box-shadow: 0 0 10px red;
}

.Action:hover {
  transform: translateX(5px);
}

.Action--flipper {
  width: 78px;
  height: 78px;
  transform: rotateY(0);
  perspective: 1000px;

  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.Action--front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  backface-visibility: hidden;
  border-radius: 100%;
  background-size: 100% 100%;
}

.Action--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: 10;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 68px;
}

.Action--flipper.flipped {
  transform: rotateY(180deg);
}
