.Detective {
  width: 60px;
  height: 60px;
  z-index: 500;
  border-radius: 68px;
  position: absolute;
  margin-top: 80px;
  margin-left: 80px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  transition: all 0.2s ease;
}

.Detective.selected {
  box-shadow: 0 0 10px gold;
  z-index: 1000001 !important;
}

.Detective--image {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
