.Menu {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: 10px;
  width: 200px;
  white-space: nowrap;
  margin-left: -100px;
}

.Menu button {
  margin: 0 5px;
  background: none;
  border: 2px solid #000;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  padding: 6px 10px;
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}

.Detective .Menu {
  top: 100%;
}

.Tile .Menu {
  transform: translateY(-50%);
}