.Tile {
  width: 150px;
  height: 150px;
  z-index: 500;
  position: absolute;
  left: 0;
  top: 0;
}

.Tile--container {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.Tile--flipper {
  width: 150px;
  height: 150px;
  transform: rotateY(0);
  perspective: 1000px;

  transition: transform 1s ease;
  transform-style: preserve-3d;
  position: relative;
}

.Tile--front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  backface-visibility: hidden;
  background-size: 100% 100%;
}

.Tile--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/TileRoad.png");
  z-index: 10;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-size: 100% 100%;
}

.Tile--back.crossroad {
  background-image: url("/assets/TileCrossRoad.png");
}

.Tile--flipper.flipped {
  transform: rotateY(180deg);
}

.Game.Rotate .Tile:hover,
.Game.Swap .Tile:hover,
.Tile.active {
  z-index: 1002 !important;
}

.Tile.active {
  z-index: 10003 !important;
}

.Game.Rotate .Tile:hover:not(.rotated) .Tile--flipper,
.Game.Swap .Tile:hover:not(.rotated) .Tile--flipper,
.Tile.active .Tile--flipper {
  outline: 2px solid yellow;
}

.Game.Rotate .Tile.rotated {
  opacity: 0.5 !important;
}